.owl {
    width: 240px;
    background-color: #242245;
    padding: 15px;
    min-height: 200px;
}

/* #091e42 */
.owl-header {
    color: white;
    margin-bottom: 25px;
}

.owl-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

/* Settings items */
.owl-settings {
    color: white;
}

.settings-item-title {
    font-size: 16px;
    font-weight: 400;
}

.settings-item {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: space-between;
    background-color: #45426c;
    margin-bottom: 10px;
    padding: 8px 6px;
    border-radius: 10px;
}
