.owl {
	width: 250px;
	/* background-color: #011627; */
}

/* #091e42 */
.owl-header {
	padding: 1px 10px;
	color: #82aaff;
}

.owl-title {
	font-size: 1.5em;
	font-weight: 500;
}

/* Settings items */
.owl-settings {
	color: #80cbc4;
}

.settings-item-title {
	font-size: 1.5em;
	font-weight: 400;
}

.settings-item {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	align-items: center;
	justify-content: space-between;
	background-color: #011627;
	margin: 4px;
	padding: 10px;
	border-radius: 4px;
}
